nav ol {
  height: 39px;
  list-style-type: none;
  margin: 0;
  overflow-x: auto;
  padding-left: 0;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

nav li {
  display: inline-block;
}

nav li:not(:last-child) {
  margin-right: 24px;
}
