nav ol {
  list-style-type: none;
  margin: 0;
  overflow-x: scroll;
  padding-left: 0;
  white-space: nowrap;
}

nav li {
  display: inline-block;
}

nav li:not(:last-child) {
  margin-right: 24px;
}
