body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}

a {
  color: rgba(0, 0, 0, 1);
  position: relative;
}

nav {
  font-size: 18px;
  text-align: center;
}

@media (min-width: 544px) {
  nav {
    text-align: left;
  }
}

nav a:hover {
  text-decoration: none;
}

@keyframes expand {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

nav a:hover::after {
  animation-duration: 400ms;
  animation-name: expand;
  background-color: rgba(0, 0, 0, 1);
  content: '';
  display: block;
  height: 2px;
  margin: -2px auto 0;
  position: relative;
  top: 2px;
  width: 100%;
}

h1,
h2 {
  font-family: 'Cormorant', serif;
  font-weight: 300;
}
