body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 100;
}

a {
  color: rgba(0, 0, 0, 1);
}

nav {
  text-align: center;
}

@media (min-width: 544px) {
  nav {
    text-align: left;
  }
}

header > a {
  display: inline-block;
  margin-bottom: 0.5in;
}

h1,
h2,
h3 {
  font-family: 'Cormorant', serif;
  font-weight: 300;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h2 {
  font-size: 4em;
}
