body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}

.background {
  background-image: url('../images/ocotillo_golf20-lrg.jpg');
  background-position: center;
  background-size: cover;
  filter: blur(36px) grayscale(25%) opacity(25%);
  height: 100vh;
  position: fixed;
  transform: translate3d(0, 0, 0);
  width: 100vw;
  z-index: -1;
}

a {
  color: rgba(155, 140, 103, 1);
  position: relative;
}

nav {
  text-align: center;
}

@media (min-width: 544px) {
  nav {
    font-size: 18px;
    text-align: left;
  }
}

nav a:hover {
  text-decoration: none;
}

@keyframes expand {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

nav a:hover::after,
nav li.active a::after {
  background-color: rgba(155, 140, 103, 1);
  content: '';
  display: block;
  height: 2px;
  margin: -2px auto 0;
  position: relative;
  top: 2px;
  width: 100%;
}

nav a:hover::after {
  animation-duration: 400ms;
  animation-name: expand;
}

nav li.active a::after {
  animation-name: none;
}

h1,
h2 {
  font-family: 'Cormorant', serif;
  font-weight: 300;
}
