/*main {
  text-align: center;
}

main > * {
  margin-left: auto;
  margin-right: auto;
}
*/
.wedgewood {
  background-image: url('../images/WW-logo-bcrfcure.png');
  background-position: center;
  width: 456px;
  height: 157px;
}

address {
  margin-bottom: 1in;
}
